api/node_modules
api/.cache
api/.config
api/.npm
api/.yarn
api/Dockerfile
api/yarn-error.log
api/.dockerignore
api/logs/*
api/config/production.ts
api/data
api/Dockerfile

web/.ash_history
web/.cache/
web/.dockerignore
web/.next
web/.yarnrc
web/Dockerfile
web/yarn-error.log
web/.env.production
web/node_modules
web/Dockerfile

admin/.ash_history
admin/.dockerignore
admin/.env.production
admin/.next
admin/.yarn
admin/.yarnrc
admin/Dockerfile
admin/node_modules
admin/yarn-error.log
admin/Dockerfile

mysql/
docker-compose.yml
